body{
    font-family: 宋体;
    line-height:20px;
    font-size: 14px;
    color: #d5d5d5;
    text-align: center;
}
header{
    margin:0px auto;
    width:1000px;
    text-align: center;
    height: 600px;
    background-image: url("../images/tim_bg_1.jpg");
}
.zui{
    height:100px;
    overflow: hidden;
}
.se,.se>div{
    height:525px;
    float: none;
}
.se>div{
    width: 1000px;
    height: 150px;
}
.se>div:nth-child(2){
    height: 100px;
}
header>div:first-of-type{
    width:980px;
    height:75px;
    margin: auto;
    position: relative;

}
ul{
    list-style: none;
}
ul>li{
    display: inline-block;
}
a{
    text-decoration: none;
}
header>div:first-of-type>a,ul{
    float: left;
}
header a{
    color: #333;
}
.shou{
    width:468px;
    height:75px;
    list-style: none;
    text-align: center;
    margin:0;
    padding-left: 10px;
}
.shou li{
    width:76px;
    height: 75px;
    font-size:1.125em;
    line-height:75px;
    float: left;
}
.shou li:hover a{
    color: #fff;
}
.shou li:hover{
    width:76px;
    height: 75px;
    cursor: pointer;
    background-color: #12b7f5;
}
header>div>div{
    float: right;
    width:320px;
    height:63px;
    font-size:0.8em;
}
header div:last-of-type>a{
    margin-top: 20px;
    float:left;
    line-height:55px;
}
.hui{
    width:221px;
    height:46px;
    float: left;
    margin:0;
    padding:0;
}
.hui a{
    color: #888888;
}
.hui>li{
    width:73px;
    height:16px;
    float: left;
    line-height:46px;
}
header>div:nth-last-child(2)>div>a:last-of-type{
    display: inline-block;
    width:188px;
    height:16px;
    margin-top:-20px;
    text-align: right;
    padding:0;
    color: #888888;
}
section{
    width:1000px;
    margin:0px auto;
}
section>h1{
    width:1000px;
    height:280px;
    color: #333333;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    letter-spacing: 10px;
    line-height:60px;
}
section h1 span:first-of-type{
    color: #13b7f4;
}
section h1 span:last-of-type{
    color: #f64826;
}
.qing{
    clear: both;
}
.bei{
    width:100%;
    height: 800px;
    background-image: url("../images/tuPian.jpg");
    background-size:auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x:50%;
    background-position-y: 3.14px;
}
.bei_02{
    width:100%;
    height: 800px;
    background-image: url("../images/dianNao.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x:50%;
    background-position-y: 3.14px;
}
.bei_03{
    width:100%;
    height: 800px;
    background-image: url("../images/bg3_1600.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x:50%;
    background-position-y: 3.14px;
}
.wu{
    width:100%;
    height:560px;
    background-color: #fff;
    position: relative;
}
.wu>img:first-of-type{
    position: absolute;
    top:-205px;
    left:0;
}
.wu>div:first-of-type{
    width:500px;
    float: right;
    text-align: right;
    font-size:18px;
    font-weight: bold;
}
.wu>div:first-of-type>h1{
    padding-top: 50px;
    width:1000px;
    color: #333333;
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
    letter-spacing: 10px;
    line-height:60px;

}
.wu>div:first-of-type a{
    color: #72d4f9;
}
.wu>div:first-of-type>div:last-of-type{
    margin-top: 100px;
    height:100px;
}
.wu ul{
    float: right;
}
.wu img{
    margin-right: 10px;
}
.wu ul>li{
    margin:0 15px;
}
.wu ul>li:last-child{
    margin:0;
}
.si{
    width:100%;
    height:450px;
    background-color: #fff;
    position: relative;
}
.si div:first-of-type{
    display: inline-block;
    width:450px;
    text-align: right;
    font-size:18px;
    font-weight: bold;
}
.si div:last-of-type{
    margin-right:-30px;
    margin-top: 100px;
    float: right;
}
.si div:first-of-type{
    float: left;
    padding-left: 50px;
    text-align: left;
}
.si>div:first-of-type>h1{
    padding-top: 50px;
    width:1000px;
    color: #333333;
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
    letter-spacing: 10px;
    line-height:60px;

}
.si>div:first-of-type a{
    color: #72d4f9;
}
.si>div:first-of-type>div:last-of-type{
    margin-top: 0;
    height:100px;
    margin-left:0;
    padding-left: 0;
}
.si ul{
    float: left;
    margin-left: 0;
    padding-left:0;
}
.si img{
    margin-left: 10px;
}
.si ul>li{
    margin:0 15px;
}
.si ul>li:last-child {
    margin: 0;
}

footer{
    width:1000px;
    height:350px;
    background-color: #2a2a2a;
    text-align: center;
    margin:0px auto;
}

footer>div:first-of-type{
    width:960px;
    height:205px;
    padding-top:50px;
    margin:0 auto;
    text-align: left;
}
footer>div div{
    float: left;
}
footer h3{
    font-size:14px;
    color: #666;
    height:25px;
}
footer>div>div:first-of-type>h3:first-of-type{
    width:510px;
    height:50px;
    margin:0;
}
footer>div div a{
    color: #979797;
    display: inline-block;
    text-align: center;
    margin-right:30px;
    width:80px;
}
footer>div div a:hover {
    color: #12b7f5;
}
.hou{
    float: left;
    width:150px;
    margin-bottom:10px;
}
footer ul>li{
    display: block;
    padding:0;
}
footer ul>li>a{
    color: #979797;
}
footer ul>li>a:hover{
    color: #f3f3f3;
}
footer ul{
    padding:0;
    margin:0;
}
.hou h3{
    width:150px;
    height:25px;
    margin:0;
}
.hou li a{
    text-align: left;
    width:150px;
    height:21px;
    margin:0;
}
hr{
    border:1px solid #888;
}
footer p{
    color: #979797;
    line-height:10px;
}
