<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页 - QQ安全中心 - 用心守护你的QQ</title>
		<link rel="shortcut icon" href="images/favicon_02.ico" />
		<link rel="stylesheet" type="text/css" href="Style/deng.css"/>
		<script type="text/javascript">
			function yan(){
				var zh = document.getElementById("name").value;
				var pw = document.getElementById("pwd").value;
				if(zh == ""){
					alert("账号不得为空");
					return false;
				}
				if(pw == ""){
					alert("密码不得为空");
					return false;
				}
				return true;
			}
		</script>
	</head>
	<body>
		<header>
			<div id="header">
				<ul>
				<li>
					举报
				</li>
				<li>
					反馈意见
				</li>
				<li>
					站点地图
				</li>
				<li>
					English
				</li>
			</ul>
			<div id="ding">
				<img src="images/an.png"/>
			</div>
			</div>
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#">密保工具</a></li>
				<li><a href="#">账号保护</a></li>
				<li><a href="#">密码管理</a></li>
				<li><a href="#">安全学堂</a></li>
			</ul>
			
		</header>
		<section>
			<form action="index.html" method="get" onsubmit="return yan()">
				
			<div id="section">
				<div>
					<h1>
						账号密码登录
					</h1>
					<p>
						推荐使用<span>快速安全登录</span>，防止盗号。
					</p>
					<input type="text" placeholder="支持QQ号/邮箱/手机号登录" id="name"/>
					<input type="password"placeholder="密码" id="pwd"/>
					<input type="submit" value="登录" />
					<span>忘记密码？</span>
				</div>
			</div>
			
			</form>
			<ul>
				<li>
					<dl>
						<dt>
							<img src="images/xinxi.png" />
						</dt>
						<dd>
							账号申诉
						</dd>
					</dl>
					<p>
						申诉和辅助好友申诉
					</p>
					<div>
						
					</div>
				</li>
				<li>
					<dl>
						<dt>
							<img src="images/xinxi.png" />
						</dt>
						<dd>
							账号申诉
						</dd>
					</dl>
					<p>
						申诉和辅助好友申诉
					</p>
					<div>
						
					</div>
					
				</li>
				<li>
					<dl>
						<dt>
							<img src="images/xinxi.png" />
						</dt>
						<dd>
							账号申诉
						</dd>
					</dl>
					<p>
						申诉和辅助好友申诉
					</p>
					<div>
						
					</div>
					
				</li>
				<li>
					<dl>
						<dt>
							<img src="images/xinxi.png" />
						</dt>
						<dd>
							账号申诉
						</dd>
					</dl>
					<p>
						申诉和辅助好友申诉
					</p>
					<div>
						
					</div>
					
				</li>
				<li>
					<dl>
						<dt>
							<img src="images/xinxi.png" />
						</dt>
						<dd>
							账号申诉
						</dd>
					</dl>
					<p>
						申诉和辅助好友申诉
					</p>
					<div>
						
					</div>
					
				</li>
			</ul>
		</section>
		<footer>
			<p>
				<a href="#">关于腾讯</a>|<a href="#">About Tencent</a>|<a href="#">服务条款</a>|<a href="#">腾讯招聘</a>|<a href="#">腾讯客服</a>
			</p>
			<p>
				Copyright &copy; 1998 - 2017 Tencent. All Rights Reserved
			</p>
			<p>
				腾讯公司 版权所有
			</p>
		</footer>
	</body>
</html>
