<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I'm QQ - 每一天，乐在沟通I'm QQ - 每一天，乐在沟通</title>
		<link rel="shortcut icon" href="images/favicon_01.ico" />
    <link rel="stylesheet" href="Style/index.css">
</head>
<body>
<header>
    <div>
        <a href="index.html" style="display: inline-block; margin-top: 12px;"><img src="images/QQ.png"></a>
        <ul class="shou">
            <li><a href="#" id="shou">首页</a></li>
            <li><a href="lei.html">下载</a></li>
            <li><a href="dongtai.html">动态</a></li>
        </ul>
        <div>
            <a href="denglu.html"><img src="images/zhuce.png" width="96"></a>
            <ul class="hui">
                <li><a href="huiyuan.html">QQ会员</a></li>
                <li><a href="#">QQ安全</a></li>
                <li><a href="deng.html">登录</a></li>
            </ul>
            <a href="#">当前在线人数：220,459,952</a>
        </div>
    </div>

    <div class="se">
       <div><img src="images/logo-s.png" width="220" height="124"></div>
       <div><a href="#"><img src="images/pcqq-btn.png" width="240" height="53"></a></div>
       <div><img src="images/icon.png" width="812" height="147"></div>
       <div class="zui"><img src="images/doc-j2.png" width="1000"></div>
    </div>
</header>
<div class="qing"></div>
<section>
    <h1>
        I'm <span>QQ</span>，每一天 <br>
        <span>乐·在·沟·通</span>
    </h1>
    <div class="bei"></div>
    <div class="wu">
        <img src="images/pic1.png">
        <div>
            <h1>
                沟通是跨越<br>
                千山万水的亲切声音
            </h1>
            <p>
                无论何时何地，你都能自由享受QQ在各类终端<br>
                上带来的高清通话，与好友一起想聊多久聊多久
            </p>
            <p>
                <a href="#">了解更多 ></a>
            </p>
            <div>
                <img src="images/qcall_figs.png">
                <ul>
                    <li>两人，多人通话</li>
                    <li>群聊通话</li>
                    <li>屏幕分享</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="bei_02"></div>
        <div class="si">
            <div>
                <h1>
                    沟通是随时随地<br>
                    爽快收发
                </h1>
                <p>
                    通过QQ,电脑和手机上的文件都能收发自如，<br>
                    更有手机在线查阅，轻松你的工作和生活。
                </p>
                <p>
                    <a href="#">了解更多 ></a>
                </p>
                <div>
                    <img src="images/qfile_figs.png">
                    <ul>
                        <li>文件漫游</li>
                        <li>多端互传</li>
                        <li>在线预览</li>
                    </ul>
                </div>
            </div>
            <div><img src="images/pic2.png" width="500"></div>
        </div>
        <div>
            <div class="bei_03"></div>
            <div class="wu" style="height: 506px;">
                <img src="images/pic3.png" style="position: absolute; left:0;top:0;">
                <div>
                    <h1>
                        沟通是跨越<br>
                        千山万水的亲切声音
                    </h1>
                    <p>
                        即使世界很大，你也不会孤单，在兴趣部落<br>
                        有和你一样的人，期待着和你一起发现精彩
                    </p>
                    <p>
                        <a href="#">了解更多 ></a>
                    </p>
                    <div>
                        <img src="images/qblog_figs.png">
                        <ul>
                            <li>兴趣社区</li>
                            <li>附近热点</li>
                            <li>精彩图集</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
        </div>
</section>
<footer>
    <div>
        <div>
            <h3>
                了解热门产品
            </h3>
            <a href="">
                <img src="images/shouJi.png">
                QQ 手机版
            </a>
            <a href=""><img src="images/PC.png" >QQ PC版</a>
            <a href=""><img src="images/MAC.png">QQ Mac版</a>
            <a href=""><img src="images/PAC.png">QQ Pad版</a>
        </div>
        <div class="hou">
            <h3>QQ安全</h3>
            <ul>
                <li><a href="#">安全中心</a></li>
                <li><a href="#">冻结账号</a></li>
                <li><a href="#">举报恶意行为</a></li>
                <li><a href="#">恢复好友和群</a></li>
            </ul>
        </div>
        <div class="hou">
            <h3>帮助反馈</h3>
            <ul>
                <li><a href="#">腾讯客服</a></li>
                <li><a href="#">反馈问题</a></li>
                <li><a href="#">腾讯微博</a></li>
                <li><a href="#">新浪微博</a></li>
            </ul>
        </div>
        <div class="hou">
            <h3>QQ安全</h3>
            <ul>
                <li><a href="#">兴趣部落</a></li>
                <li><a href="#">QQ群</a></li>
                <li><a href="#">QQ音乐</a></li>
                <li><a href="#">QQ浏览器</a></li>
                <li><a href="xing.html">星钻</a></li>
                <li><a href="#">腾讯视频</a></li>
                <li><a href="#">腾讯体验中心</a></li>
                <li><a href="#">腾讯电脑管家</a></li>
            </ul>
        </div>
        <hr>
    </div>
    <p align="center">Copyright &copy; 1998-2017 Tencent. All Rights Reserved</p>
    <p align="center">腾讯公司 版权所有</p>
</footer>
</body>
</html>