<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I'm QQ - 每一天，乐在沟通</title>
		<link rel="shortcut icon" href="images/favicon_01.ico" />
    <link rel="stylesheet" href="Style/lei.css" type="text/css">
</head>
<body>
<header>
    <div>
        <a href="index.html" style="display: inline-block; margin-top: 12px;"><img src="images/QQ.png"></a>
        <ul class="shou">
            <li><a href="index.html" id="shou">首页</a></li>
            <li><a href="lei.html">下载</a></li>
            <li><a href="dongtai.html">动态</a></li>
        </ul>
        <div>
            <a href="denglu.html"><img src="images/zhuce.png" width="96"></a>
            <ul class="hui">
                <li><a href="huiyuan.html">QQ会员</a></li>
                <li><a href="#">QQ安全</a></li>
                <li><a href="deng.html">登录</a></li>
            </ul>
            <a href="#" style="margin-top: -25px; margin-left: 20px;">当前在线人数：220,459,952</a>
        </div>
    </div>

    <div class="se">
        <div><img src="images/logo-s.png" width="220" height="124"></div>
        <div><img src="images/icon.png" width="812" height="147"></div>
        <div class="zui"><img src="images/doc-j2.png" width="1000"></div>
    </div>
</header>
<section>
    <ul>
        <li>
            <div><img src="images/xiazaiye.png"></div>
            <h1><a href="#">QQ PC版 </a><span>8.9.4</span></h1>
            <ul>
                <li>- 全新视觉，简约界面乐享沟通</li>
                <li>- 消息列表支持自由调整，简约体验轻松聊天</li>
                <li>- 面板新增游戏中心入口，无需安装即时畅玩</li>
                <li>- 视频通话趣味聊，动态挂件，乐趣不断</li>
                <li>- 群助手可在会话面板中打开</li>
            </ul>
            <div>
                <p>2017-08-03</p>
                <a href="#">下载</a>
            </div>
        </li>
        <li>
            <div><img src="images/sq-download-banner.png"></div>
            <h1><a href="#">QQ手机版 </a><a href="#">Android7.1.8</a> / <a href="#">iPhone7.1.8</a></h1>
            <ul>
                <li>- 视频手势挂件，Get最潮手势语言</li>
                <li>- 发送热门短视频，好友互动更有料</li>
                <li>- 资料卡个性标签，展现百变自我</li>
                <li></li>
            </ul>
            <div>
                <p>2017-08-15</p>
                <a href="#" class="yi">下载 </a>
            </div>
            <div>
                <p>2017-08-17</p>
                <a href="#" class="er">下载</a>
            </div>
        </li>
        <li>
            <div><img src="images/tim-df.png"></div>
            <h1><a href="#">TIM</a><span>1.2.0</span></h1>
            <ul>
                <li>- 熟悉的QQ习惯，好友、消息完全同步</li>
                <li>- 高效Word、Excel处理，支持多人协同编辑</li>
                <li>- 免费的音视频通话，支持多人通话及会议预</li>
                <li>- 视频通话趣味聊，动态挂件，乐趣不断</li>
                <li>- 创建日程，安排事务，还能做会议邀请</li>
            </ul>
            <div>
                <p>2017-08-17</p>
                <a href="#" style="background-image: url("images/tupian.png")">下载</a>
            </div>
        </li>
    </ul>
    <h2>
        其他产品
    </h2>
    <ul>
        <li>
            <div>
                <a href="#">QQ Mac版</a><span> 2017-07-18</span>
                <p>匠心之韵，清新聊人。</p>
            </div>
            <a href="#">下载</a>
        </li>
        <li>
            <div>
                <a href="#">QQ国际PC版</a><span> 2014-01-22</span>
                <p>跨语言沟通无障碍。</p>
            </div>
            <a href="#">下载</a>
        </li>
        <li>
            <div>
                <a href="#">QQ国际iPhone版</a><span> 2016-12-22</span>
                <p>沟通无国界，沟通就在你身边。</p>
            </div>
            <a href="#">下载</a>
        </li>
        <li>
            <div>
                <a href="#">QQ国际Android版</a><span> 2017-07-27</span>
                <p>全球通话，祝您好友遍天下。</p>
            </div>
            <a href="#">下载</a>
        </li>
        <li>
            <div>
                <a href="#">QQ轻聊PC版</a><span> 2015-12-01</span>
                <p>轻快简洁，高效沟通。</p>
            </div>
            <a href="#">下载</a>
        </li>
        <li>
            <div>
                <a href="#">QQ轻聊Android版</a><span> 2017-08-18</span>
                <p>超小安装包，省内存，聊天更畅快！</p>
            </div>
            <a href="#">下载</a>
        </li>
        <li>
            <div>
                <a href="#">QQ Windows Phone版</a><span> 2017-05-03</span>
                <p>Light设计，轻快简洁。</p>
            </div>
            <a href="#">下载</a>
        </li>
        <li>
            <div>
                <a href="#">QQ Windows Pad版</a><span> 2017-05-03</span>
                <p>全新版本，轻快、简洁、个性化！</p>
            </div>
            <a href="#">下载</a>
        </li>
    </ul>
    <h2>
        更多下载
    </h2>
    <ul>
        <li>
            <h3>
                QQ S60V5版
            </h3>
            <a href="#">下载</a>
            <p>2013-08-06</p>
        </li>
        <li>
            <h3>
                QQ语音S60V3版
            </h3>
            <a href="#">下载</a>
            <p>2013-09-12</p>
        </li>
        <li>
            <h3>
                QQ S60V3版
            </h3>
            <a href="#">下载</a>
            <p>2013-06-04</p>
        </li>
        <li>
            <h3>
                QQ BlackBerry版
            </h3>
            <a href="#">下载</a>
            <p>2012-02-29</p>
        </li>
        <li>
            <h3>
                Smart QQ
            </h3>
            <a href="an.html">打开</a>
            <p>无须下载，打开网页直接聊天</p>
        </li>
    </ul>
</section>
<div class="shi"></div>
<footer>
    <div>
        <div>
            <h3>
                了解热门产品
            </h3>
            <a href="">
                <img src="images/shouJi.png">
                QQ 手机版
            </a>
            <a href=""><img src="images/PC.png" >QQ PC版</a>
            <a href=""><img src="images/MAC.png">QQ Mac版</a>
            <a href=""><img src="images/PAC.png">QQ Pad版</a>
        </div>
        <div class="hou">
            <h3>QQ安全</h3>
            <ul>
                <li><a href="#">安全中心</a></li>
                <li><a href="#">冻结账号</a></li>
                <li><a href="#">举报恶意行为</a></li>
                <li><a href="#">恢复好友和群</a></li>
            </ul>
        </div>
        <div class="hou">
            <h3>帮助反馈</h3>
            <ul>
                <li><a href="#">腾讯客服</a></li>
                <li><a href="#">反馈问题</a></li>
                <li><a href="#">腾讯微博</a></li>
                <li><a href="#">新浪微博</a></li>
            </ul>
        </div>
        <div class="hou">
            <h3>QQ安全</h3>
            <ul>
                <li><a href="#">兴趣部落</a></li>
                <li><a href="#">QQ群</a></li>
                <li><a href="#">QQ音乐</a></li>
                <li><a href="#">QQ浏览器</a></li>
                <li><a href="xing.html">星钻</a></li>
                <li><a href="#">腾讯视频</a></li>
                <li><a href="#">腾讯体验中心</a></li>
                <li><a href="#">腾讯电脑管家</a></li>
            </ul>
        </div>
        <hr>
    </div>
    <p align="center">Copyright &copy; 1998-2017 Tencent. All Rights Reserved</p>
    <p align="center">腾讯公司 版权所有</p>
</footer>
</body>
</html>