<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>星钻贵族</title>
		<link rel="shortcut icon" href="images/favicon_03.ico" />
		<link rel="stylesheet" type="text/css" href="Style/xing.css"/>
		<script type="text/javascript">
			function li(){
	  			document.getElementById('li_01').style.display='none';
	  			document.getElementById('li_0').style.display='inline-block';
			}
			function li_hui(){
	  			document.getElementById('li_01').style.display='inline-block';
	  			document.getElementById('li_0').style.display='none';
			}
			function li_01(){
	  			document.getElementById('li_02').style.display='none';
	  			document.getElementById('li_2').style.display='inline-block';
			}
			function li_01_hui(){
	  			document.getElementById('li_02').style.display='inline-block';
	  			document.getElementById('li_2').style.display='none';
			}
			function li_02(){
	  			document.getElementById('li_03').style.display='none';
	  			document.getElementById('li_3').style.display='inline-block';
			}
			function li_02_hui(){
	  			document.getElementById('li_03').style.display='inline-block';
	  			document.getElementById('li_3').style.display='none';
			}
			function li_03(){
	  			document.getElementById('li_04').style.display='none';
	  			document.getElementById('li_4').style.display='inline-block';
			}
			function li_03_hui(){
	  			document.getElementById('li_04').style.display='inline-block';
	  			document.getElementById('li_4').style.display='none';
			}
			function lunBo_01(){
				document.getElementById('lunbo').style.backgroundImage="url(images/20161020203201_F5YN2O4T1M.jpg)";	
				document.getElementById('he').style.backgroundColor="#AF986A";
			}
			function lunBo_02(){
				document.getElementById('lunbo').style.backgroundImage="url(images/20160930130146_7KzO9ERJ2V.jpg)";
				document.getElementById('he').style.backgroundColor="#060429";
			}
		</script>
	</head>
	<body>
		<header id="he">
			<ul>
				<li><img src="images/ico-l.png" width="40" height="30" /><h1>星钻贵族</h1></li>
				<li>首页 <div></div></li>
				<li>功能特权<div></div></li>
				<li>成长体系<div></div></li>
				<li>装扮专区<div></div></li>
				<li>活动专区<div></div></li>
				<li><img src="images/g.jpg" width="48" height="48" title="点击进入个人中心" />超越</li>
			</ul>
			<div id="lunbo">
				<span onmouseover="lunBo_01()"></span>
				<span onmouseover="lunBo_02()"></span>
			</div>
		</header>
		<section>
			<div id="s_01">
				<h1>星钻福利</h1>
				<p>
					<span>“</span>
					星钻为您量身打造海量娱乐和社交权益，享受意想<br />不到的福利优惠，HIGH到飞起来！ 
					<span>”</span>
				</p>
				<ul>
					<li>
						<h1>01</h1>
						<h2>付费音乐</h2>
						<h3>免费下载</h3>
						<img src="images/welfare-1.png"  width="220" height="200"/>
					</li>
					<li>
						<h1>02</h1>
						<h2>手机流量</h2>
						<h3>专享折扣</h3>
						<img src="images/20160720175627_Yx2jaXRtzH.png"  width="220" height="200"/>
					</li>
					<li>
						<h1>03</h1>
						<h2>明星周边</h2>
						<h3>免费抢</h3>
						<img src="images/20160926175230_1QYBtb5Qob.png"  width="220" height="200"/>
					</li>
					<li>
						<h1>04</h1>
						<h2>游戏礼包</h2>
						<h3>每周抢</h3>
						<img src="images/20160926175230_xLL1A1EtLZ.png"  width="220" height="200"/>
					</li>
				</ul>
			</div>
			<div id="s_02">
				<h1>
					星钻特权
				</h1>
				<p>
					我们一直致力于为您带来更酷的娱乐体验
				</p>
				<ul>
					<li><img src="images/20160719101223_ELUK8K3wq2.png" width="300" height="150" title=""/></li>
					<li><img src="images/20160719101223_RZdlKaCk2i.png" width="300" height="150" title=""/></li>
				</ul>
			</div>
			<div id="s_03">
				<h1>
					最新专属装扮
				</h1>
				<p>
					不仅要大牌，更要独一无二
				</p>
				<ul>
					
					<li id="yi">
						<div>
							<h1>
								鹿晗
							</h1>
							<p>
								有只小鹿萌萌哒
							</p>
						</div>
						<img src="images/dress-1.jpg" width="200" height="300"/>
					</li>
					<li>
						
						<div>
							<h1>
								BIGBANG
							</h1>
							<p>
								亚洲天团中国三巡专题
							</p>
						</div>
							<img src="images/dress-2.jpg" width="200" height="300"/>
					</li>
					<li>
						<div>
							<h1>
								李宇春
							</h1>
							<p>
								《野蛮生长》定制背景
							</p>
						</div>
						<img src="images/dress-3.jpg" width="200" height="300"/>
					</li>
					<li>
						<div>
							<h1>
								张杰
							</h1>
							<p>
								你的心声就是我的歌手
							</p>
						</div>
						<img src="images/20160810154851_jeNXC2xgXN.jpg" width="200" height="300"/>
					</li>
				</ul>
			</div>
			<div id="s_04">
				<h1>
					每日成长速度
				</h1>
				<p>
					等级加速，聪明人懂得后来居上
				</p>
				<ul>
					<li onmousemove="li()" onmouseout="li_hui()" id="li_01"_>
						<div>
							<img src="images/growth-1.png"/>
						</div>
						<h1>
							年费
						</h1>
						<p>
							按年支付
						</p>
					</li>
					<li  id="li_0" onmouseout="li_hui()" onmousemove="li()" style="display: none;">
						<ul id="li">
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span>19/天</span>
								</div>
								<div>LV1-4 <span><span></span></span></div>
							</li>
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span style="left: 50px;">23/天</span>
								</div>
								<div>LV5-6 <span><span style="width:50px;"></span></span></div>
							</li>
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span style="left: 60px;">27/天</span>
								</div>
								<div>LV7-8 <span><span></span style="width: 60px;"></span></div>
							</li>
						</ul>
					</li>
					<li onmousemove="li_01()" onmouseout="li_01_hui()" id="li_02">
						<div>
							<img src="images/growth-2.png"/>
						</div>
						<h1>
							财付通/微信
						</h1>
						<p>
							按月支付
						</p>
					</li>
					<li  id="li_2" onmouseout="li_01_hui()" onmousemove="li_01()" style="display: none;">
						<ul id="li">
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span style="left:35px;">16/天</span>
								</div>
								<div>LV1-4 <span><span style="width: 35px;"></span></span></div>
							</li>
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span style="left: 37px;">18/天</span>
								</div>
								<div>LV5-6 <span><span style="width: 37px;"></span></span></div>
							</li>
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span style="left: 43px;">20/天</span>
								</div>
								<div>LV7-8 <span><span style="width: 43px;"></span></span></div>
							</li>
						</ul>
					</li>
					<li onmousemove="li_02()" onmouseout="li_02_hui()" id="li_03">
						<div>
							<img src="images/growth-3.png"/>
						</div>
						<h1>
							Q币
						</h1>
						<p>
							按月支付
						</p>
					</li>
					<li  id="li_3" onmouseout="li_02_hui()" onmousemove="li_02()" style="display: none;">
						<ul id="li">
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span style="left: 32px;">15/天</span>
								</div>
								<div>LV1-4 <span><span style="width: 32px;"></span></span></div>
							</li>
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span style="left: 36px;">17/天</span>
								</div>
								<div>LV5-6 <span><span style="width: 36px;"></span></span></div>
							</li>
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span>19/天</span>
								</div>
								<div>LV7-8 <span><span></span></span></div>
							</li>
						</ul>
					</li>
					<li onmousemove="li_03()" onmouseout="li_03_hui()" id="li_04">
						<div>
							<img src="images/growth-4.png"/>
						</div>
						<h1>
							手机渠道
						</h1>
						<p>
							按年支付
						</p>
					</li>
					<li  id="li_4" onmouseout="li_03_hui()" onmousemove="li_03()" style="display: none;">
						<ul id="li">
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span style="left: 28px;">13/天</span>
								</div>
								<div>LV1-4 <span><span style="width: 28px;"></span></span></div>
							</li>
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span style="left: 35px;">15/天</span>
								</div>
								<div>LV5-6 <span><span style="35px"></span></span></div>
							</li>
							<li>
								<div>
									<img src="images/ico-l.png" width="35" height="30"/><span style="left: 36px;">17/天</span>
								</div>
								<div>LV7-8 <span><span style="width: 36px;"></span></span></div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</section>
		<footer>
			<div>
				<img src="images/logo-qz.png" />
			</div>
			<div>
				<img src="images/logo-yy.png" />
			</div>
			<dl>
				<dt>
					<img src="images/logo-code.png"/>
				</dt>
				<dd>
					星钻手Q公众号
				</dd>
				<dd>
					扫描二维码，星钻福利
					抢先知
				</dd>
			</dl>
			<dl>
				<dt>
					<img src="images/20160815113910_RrQthTTrGm.jpg"/>
				</dt>
				<dd>
					星钻微信公众号
				</dd>
				<dd>
					扫描二维码，一起来玩耍
				</dd>
			</dl>
			<div style="clear: both; float: initial;"></div>
			<p>
				友情链接： <a href="#">QQ空间</a> | <a href="#">QQ音乐</a> | <a href="#">手机QQ空间</a> | <a href="#">企鹅FM</a> | <a href="#">画报</a> | <a href="#">黄钻活动</a> | <a href="#">用户反馈</a> | 
				<a href="#">腾讯云论坛</a> | <a href="#">企鹅MV</a> | <a href="index.html">QQ官网</a>
			</p>
			<p>
				关于腾讯| About Tencent| 服务协议| 开放平台| 广告服务| 商务洽谈| 腾讯招聘| 腾讯网| 腾讯公益| 客服中心| 网站导航| 版权所有
			</p>
			<p>
				Copyright &copy;" 1998 - 2016 Tencent. All Rights Reserved.
			</p>
		</footer>
		<div id="fu">
			<ul>
				<li><a href="#top"><img src="images/shang.png" /></a></li>
				<li><a href="#"><img src="images/pc-index-dag161008105838.png"/></a></li>
			</ul>
		</div>
	</body>
</html>
